{% extends 'base.html.twig' %}

{% block title %}Caissier{% endblock %}

{% block body %}
    <h1>Caissier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ caissier.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ caissier.nom }}</td>
            </tr>
            <tr>
                <th>NumeroCaisse</th>
                <td>{{ caissier.numeroCaisse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_caissier_index') }}">back to list</a>

    <a href="{{ path('app_caissier_edit', {'id': caissier.id}) }}">edit</a>

    {{ include('caissier/_delete_form.html.twig') }}
{% endblock %}
